--today=T.csv
--yesterday=Y.csv
--risk=R.csv
--output=P.csv
--market-value=Value
--risk-value=Value

--risk-key=Factor
--risk-key=Tenor
--market-key=Factor
--market-key=Tenor

--output-headers=Tenor
--output-headers=Currency
--output-headers=Factor
--output-headers=Value
--output-headers=Measure

--max-errors=10
